@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&family=Rock+Salt&display=swap');
.logo{
   width: 80px 
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}    
#content {
    display: block;
    margin: 0 auto;
    max-width: 1600px;  
}
.icon {
    width: 80px;
    padding-top: 10px; 
}  
nav {
    display: flex;
    justify-content: space-around;
}                                
nav a{
    text-align: center;
    color: #172a3a;
    text-decoration: none;
    padding: 35px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}                            
#hero-msg h1, #hero-msg h4{
    text-align: center; 
    color: rgb(255, 204, 0);
}
#hero-img{
    width: 100%
}
.button-box{
    text-align: center; 
}
main section{
    text-align: center;

}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);

}
#background {
    height: 725px;
}

body {
    background-color: #ffffff;
    font-family: "Inter Tight", "Helvetica", "sans-serif", "serif";
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #74b3ce ;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: tan;
}
.book, .join {
    background-color: #09bc8a;
    color:#172a3a;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: tan; 
    color: #508991;
}
#background{
    background-color: tan;
}
.msg{
    background-color: #508991;
    color: #172a3a;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: #09bc8a;
    color: #172a3a;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color:#172a3a;
    text-decoration: none;
}
footer p{
    font-size: 1.2em;
}        
footer p a:hover {
    text-decoration: underline;
}    
 footer .social img{
    padding-top: 15px;
 }
      
.home-title{
    color: #74b3ce;
    font-family: "Rock Salt", "Helvetica", "sans-serif", "serif";
    font-size:  2em;
    margin-top: 10px;
}

h4{
    color:#74b3ce;
}
.msg h2{
    color:#172a3a;
    font-family: "Rock Salt", "Helvetica", "sans-serif", "serif";

}
.msg p{
    color:#172a3a;
    font-size: .8em;
    padding-bottom: 15px;
}
h2{
    margin: 0;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}       
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}     
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;   
} 
#background{
    grid-column: 1/11;
    grid-row: 4/9;   
}
.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;   
    box-shadow: 5px 5px 10px #6f7364;
}
.msg{
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
    main section img {
    box-sizing: border-box;
}
.deviding_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.faq_image {
    border: 10px solid #6f7364;    
    width: 99%;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: -1;
} 
.safety_image {
    border: 10px solid #6f7364;    
    width: 99%;
    grid-row: 1/2;
    grid-column: 2/3;
    z-index: -1;    
}
.msg_faq {
    grid-row: 1/2;
    text-align: center; 
    color: rgb(255, 204, 0);
    grid-column: 1/2; 
    z-index: 1;
}

.safety_msg{
    grid-column: 2/3 ;
    text-align: center; 
    color: rgb(255, 204, 0); 
    z-index: 1;
}       
#nav_page2{
    display: block;
    margin: 0 auto;
    max-width: 1600px;  
}  

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            