@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&family=Rock+Salt&display=swap');
.logo{
   width: 80px 
}
#logo_link {
    padding-top: 5px;
}    
#content {
    display: block;
    margin: 0 auto;
    max-width: 1600px;  
}
.icon {
    width: 80px;
    padding-top: 10px;
}                       
nav a{
    text-align: center;
    color: #172a3a;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center; 
    color:#172a3a;
}
#hero-img{
    width: 100%
}
.button-box{
    text-align: center; 
}
main section{
    text-align: center;
}
#background {
    height: 725px;
}

body {
    background-color: #ffffff;
    font-family: "Inter Tight", "Helvetica", "sans-serif", "serif";
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #74b3ce ;
}
nav a:hover {
    background-color: tan;
}
.book, .join {
    background-color: #09bc8a;
    color:#172a3a;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: tan; 
    color: #508991;
}
#background{
    background-color: tan;
}
.msg{
    background-color: #508991;
    color: #172a3a;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: #09bc8a;
    color: #172a3a;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    color:#172a3a;
    text-decoration: none;
}
footer p{
    font-size: 1.2em;
}        
footer p a:hover {
    text-decoration: underline;
}    
 footer .social img{
    padding-top: 15px;
 }
      
.home-title{
    color: #74b3ce;
    font-family: "Rock Salt", "Helvetica", "sans-serif", "serif";
    font-size:  2em;
    margin-top: 10px;
}

h4{
    color:#74b3ce;
}
.msg h2{
    color:#172a3a;
    font-family: "Rock Salt", "Helvetica", "sans-serif", "serif";

}
.msg p{
    color:#172a3a;
    font-size: .8em;
    padding-bottom: 15px;
}
h2{
    margin: 0;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}