#header {
    background-color: #6f7364;
    height: 15vh;   
    color: white;
    font-size: 40px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
.hero {
    background-color: #668EB9;
    height: 15vh;   
    color: white;
    font-size: 5vh;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 
    text-align: center;
    align-items: center;
}
li{
    text-decoration: none;
}

.logo {
    height: 13vh;
    border-radius: 70px;
    margin-top: 6px; 
    margin-left: 6px;
}

li a:visited {
    color: var(--primary-color);
    
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-right: 90px;
    font-size: 50px;
    width: 800px;
}
      
a{
    text-decoration: none;
    color: white;
}
.main{
    background-color: #FFE2D2;
    font-size: 25px;
      
}
p{
    margin: 50px;
    line-height: 1.7em
    
}
.happy_pets_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-content: center;
}
.mission_header{
    color: #6f7364;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 40px
}
.ferret{
    align-content: center;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%
    
}
.interesting_facts{
    color: #6f7364;
    margin-top:40px;
    font-family: 'Poppins', sans-serif;
    font-size: 30
}
.facts{
    margin-top: 0;
    margin-bottom: 50px;
}   
.content2{
    background-color: #6f7364;
    height: 15vh;   
    color: white;
    font-size: 3vh;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
                    
  